body {
  margin: 0%;
  padding: 0%;
  background-color: #ecf0f3;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 60vw;
  /* height: 80vh; */
  align-self: center;
  border-radius: 20px;
  box-shadow: -13px -13px 20px #ffffff, 13px 13px 20px #cbced1;
}

#formHeader {
  color: white;
  background-color: rgb(18, 189, 247);
  text-align: center;
}

.halfWidthInit,
.fullWidthInit {
  display: inline-block;
  border: none;
  outline: none;
  min-width: 40%;
  /* margin: 1%; */
  border-radius: 20px;
  padding: 1%;
  background-color: #ecf0f3;
  /* color: white;     */
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 20px #ffffff;
}

.halfWidthInit {
  width: 45%;
  margin: 1%;
}
.fullWidthInit {
  width: 95%;
  margin: 1%;
}
#wrapperButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#formButton {
  width: 50%;
  border-radius: 20px;
  height: 5vh;
  outline: none;
  border: none;
  margin: 1%;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 5px #cbced1;
  background-color: #ecf0f3;
  /* align-self: center; */
}

#formButton:active{
  box-shadow:inset -5px -5px 10px #ffffff,inset 5px 5px 5px #cbced1;
  /* transition: 1000ms; */
}
