.container {
  width: 30vw;
  height: 80vh;
  display: flex;
  border-radius: 20px;
  box-shadow: -13px -13px 20px #ffffff, 13px 13px 20px #cbced1;
  background-color: #ecf0f3;
  flex-direction: column;
  align-content: space-around;
}

.formInputs {
  display: block;
  margin: auto;
  height: 40px;
  background-color: #ecf0f3;
  border: 1px solid #ecf0f3;
  border-radius: 20px;
  width: 90%;
  padding: 2%;
  box-shadow:inset 5px 5px 20px #cbced1,inset -10px -10px 20px #ffffff;
  outline: none;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  flex-direction: column;
  /* align-self: center; */
  justify-content: center;
  align-items: center;
  background-color: #ecf0f3;
}
@media screen and (max-width:1080px){
    .container{
        width: 60vw;
    }
} 

@media screen and (max-width:720px){
    .container{
        width: 70vw;
    }
}

@media screen and (max-width:480px){
    .container{
        width: 85vw;
    }
}