body{
    display: flex;
    margin: 0;
    padding: 0%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f3;
    height: 100vh;
}
.container{
    background-color: #ecf0f3;
    align-self: center;
    width: 50vw;
    height: 70vh;
    border-radius: 20px;
    /* border: 1px solid red; */
    /* padding: 1%; */
    box-shadow: -13px -13px 20px #ffffff, 13px 13px 20px #cbced1;
    margin: 0;
    padding: 0;
}

#title{
    margin-top: 4%;
    background-color: skyblue;
    width: 100% !important;
    color: white;
    text-align: center;
    /* height: 5%; */
}
#inputSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}
.sectioLabels{
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.formInputs{
    margin:1%;
    display: inline-block;
    flex: 5;
    height: 80%;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 20px #cbced1,inset -10px -10px 20px #ffffff;
    padding: 10px;
    border: 1px solid #ecf0f3;
}
.validationButton{
    margin: 1% !important;
    flex: 1 !important;
    height: 80% !important;
    border-radius: 20px !important;
    background-color: #ecf0f3 !important;
    outline: none !important;
    border: none !important;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #cbced1 !important;
    font-weight: 300 !important;
}
.validationButton:active{
    box-shadow: inset 5px 5px 20px #cbced1,inset -10px -10px 20px #ffffff !important;
}

@media screen and (max-width:1080px){
    .container{
        width:65vw
    }
}


@media screen and (max-width:720px){
    .container{
        width: 80vw;
    }
}

@media screen and (max-width:480px){
    .container{
        width: 90vw;
    }
}